# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual environments
venv/
env/
ENV/
vev/

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

.env

__pycache__/
*.pyc
*.pyo
*.pyd
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/